@font-face {
  font-family: NewBaskervilleC;
  src: url(../font/NewBaskervilleC.ttf);
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

p, span {
  font-family: 'PT Sans', sans-serif;
}

.content {
  margin: 0 auto;
  height: 100%;
}

  /* HEADER */

.header {
  background: #282a2d;
  height: 80px;
  transition: all 0.3s ease-in-out;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}

.logo__img {
  display: block;
  width: 44px;
  height: 55px;
  margin: 10px;
}

.logo__text {
  margin-left: 10px;
}

.logo__name {
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  font-size: 32px;
  color: #fff;
  margin: 0;
}

.logo__desc {
  color: #ebf4ff;
  font-size: 11px;
  margin: 0;
  opacity: 0.4;
}

  /* MAIN */

.main {
  margin-bottom: 60px;
}

  /* navigation */

.mainNav {
  padding: 0;
  margin: 60px 0 20px 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.mainNav__item {
  margin-right: 30px;
}

.mainNav__item:hover .mainNav__link {
  color: #242526;
  /*
  font-weight: bold;
  */
}

.mainNav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #9fa2a8;
  font-size: 12px;
}

.mainNav__link_active {
  color: #242526;
  border-bottom: 2px solid #242526;
  /*
  font-weight: bold;
  */
}

  /* countries */

.countries {
  padding: 0;
  margin: 0;
  list-style: none;
}

.countries:after {
  content: "";
	display: block;
  clear: both;
}

.country-slider {
  width: 300px;
  height: 200px;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  margin: 0 20px 20px 0;
  background-color: rgba(3, 21, 36, 0.5);
  transition: background-color 0.5s ease-in-out;
}
.country-slider:hover {
  background: rgba(3, 21, 36, 0);
  transition: background-color 0.5s ease-in-out;
}

.country-slider > ul {
  list-style: none;
  width: 1200px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.country-slider > ul > li {
  width: 300px;
  height: 200px;
  position: relative;
  float: left;
}

.country-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-slide__desc {
  background: #313336;
  align-items: flex-start;
}

.country__desc {
  color: #abaeb3;
  font-size: 14px;
  line-height: 20px;
  margin: 40px 20px 0;
  height: 100px;
  overflow: hidden;
  cursor: default;
}

.country__icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.3s;
}

.country__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.country__name {
  font-weight: normal;
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

.country__name_small {
  font-weight: normal;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  color: #fff;
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  cursor: pointer;
}

.country__arrow {
  width: 21px;
  height: 21px;
  position: absolute;
  bottom: 20px;
  opacity: 0.2;
  transition: all 0.3s;
}

.country__arrow:hover {
  transition: all 0.3s;
  opacity: 0.5;
  cursor: pointer;
}

.country__arrow_prev {
  right: 60px;
}

.country__arrow_next {
  right: 20px;
}

.country_big {
  width: 620px;
  height: 420px;
  float: right;
}

.country_big:hover {
  transition: all 0.5s;
  background: none;
}

.country__more {
  width: 50%;
}

.country__name_big {
  font-weight: normal;
  font-size: 40px;
  margin: 80px 0 35px 30px;
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  color: #fff;
  cursor: default;
}

.country__list {
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  font-size: 20px;
  color: #fff;
  padding-left: 60px;
}

.country__list li {
  margin: 25px 0;
}

.country__list h2 {
  margin: 0;
  font-size: 20px;
}

  /* country disadled */

.country-slider_desibled {
  width: 240px;
  height: 160px;
  background: rgba(210, 210, 210, 0.9);
  margin: 20px 50px 40px 30px;
}

.country-slider_desibled > ul > li {
  width: 240px;
  height: 160px;
  position: relative;
  float: left;
}

.country-slider_desibled:hover {
  background: rgba(210, 210, 210, 0.9);
}

.country-slider_desibled .country__name {
  cursor: default;
}

.country-slider_desibled .country__arrow {
  display: none;
}

.country-slider_big_desibled {
  width: 560px;
  height: 380px;
  background: rgba(210, 210, 210, 0.9);
  margin: 20px 50px 40px 30px;
}

.country-slider_big_desibled:hover {
  background: rgba(210, 210, 210, 0.9);
}

  /* FOOTER */

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  box-sizing: border-box;
  border-top: 1px solid #c7cacf;
  background: #282a2d;
}

.footer > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  display: flex;
  flex-shrink: 0;
  font-family: NewBaskervilleC, 'Times New Roman', serif;
  font-size: 14px;
  color: #6b7076;
}

.footer__design {
  color: #6b7076;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.footer__design span {
  text-align: right;
}

.footer__design a {
  color: #b5b9be;
  text-decoration: none;
}

.footer__design a:hover {
  text-decoration: underline;
}

.footer__design img {
  width: 28px;
  height: 33px;
  margin-left: 15px;
}

/* PLAY VIDEO */

.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(20, 26, 31, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 740px;
  height: 475px;
  max-width: 70%;
  max-height: 70vh;
  position: relative;
}

.video-close {
  position: absolute;;
  width: 30px;
  height: 30px;
  top: -35px;
  right: -35px;
  opacity: 0.2;
}

.video-close:hover {
  cursor: pointer;
  opacity: 0.5;
}

iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 660px) {
  .content {
    width: 300px;
  }

  .mainNav {
    flex-direction: column;
  }

  .mainNav__item {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .country {
    margin: 0 0 20px 0;
  }

  .country_big {
    display: none;
  }
}

@media screen and (min-width: 661px) and (max-width: 1000px) {
  .content {
    width: 640px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .content {
    width: 960px;
  }
}

@media screen and (min-width: 1301px) {
  .content {
    width: 1280px;
  }
}
